FORMAT: 1A
HOST: http://localhost:2990/jira/rest/zephyr/latest

# Zephyr for JIRA API
Zephyr for Jira(ZFJ) Server REST API allows to access test assets.

#foreach( $resource in $resources )
#if($resource.name)# Group $resource.name
#end
#if($resource.groupNotes)
$resource.groupNotes
#end

#foreach( $operation in $resource.operations )
$DOUBLE_HASH $operation.name [/$operation.path]
$TRIPLE_HASH $operation.summary [$operation.requestType]
$operation.description

#if ($operation.pathParam.size()>0)
+ Parameters

#foreach( $pathParam in $operation.pathParam )
    + $pathParam.name ($pathParam.isRequired, $pathParam.type) ... $pathParam.description
#end

#end

#if ($operation.queryParams.size()>0)
+ Parameters

#foreach( $queryParam in $operation.queryParams )
    + $queryParam.name ($queryParam.isRequired, $queryParam.type) ... $queryParam.description
#end
#end

#if ($operation.jsonRequest.size()>0)
+ Request (#if($operation.consumes)$operation.consumes#end)

#foreach( $jsonRequestSingleLine in $operation.jsonRequest )
                $jsonRequestSingleLine
#end

#end

#if ($operation.jsonResponse.size()>0)
+ Response $operation.responseCode (#if($operation.produces)$operation.produces#end)

#foreach( $jsonResponseSingleLine in $operation.jsonResponse )
                $jsonResponseSingleLine
#end
#else
+ Response 200
#end

#end
#end
## end of resource
